      <form ng-submit="search()" class="list">
        <div class="item item-input-inset">
            <label class="item item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input id="search" type="search" placeholder="Enter an address" ng-model="form.query">
              <a ng-if="form.query != ''"
                 on-touch="form.query=''">
                 <i class="icon ion-ios-close placeholder-icon"></i>
              </a>
            </label>
            <input type="submit" class="button button-small button-positive" value="Search">

        </div>
      </form>
